# Environment Variables - NEVER PUSH
.env
.env.local
.env.*.local

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
dist-ssr/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
